<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Interface.UpdateTamUng"></activity>
        <activity android:name=".Interface.MainActivityTamUng" />
        <activity android:name=".Interface.UpdateChamCong" />
        <activity android:name=".Interface.MainActivityChamCong" />
        <activity android:name=".Interface.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Interface.MainActivityChucNang" />
        <activity android:name=".Interface.AddPhongBan" />
        <activity android:name=".Interface.UpdatePhongBan" />
        <activity android:name=".Interface.MainActivityPhongBan" />
        <activity android:name=".Interface.UpdateNhanVien" />
        <activity android:name=".Interface.AddNhanVien" />
        <activity android:name=".Interface.MainActivityNhanVien" />
    </application>

</manifest>