<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Interface.TamUng.AddTamUng"></activity>
        <activity android:name=".Interface.ChamCong.AddChamCong" />
        <activity android:name=".Interface.MainActivityLogin" />
        <activity android:name=".Interface.MainActivityThongKe" />
        <activity android:name=".Interface.TamUng.UpdateTamUng" />
        <activity android:name=".Interface.TamUng.MainActivityTamUng" />
        <activity android:name=".Interface.ChamCong.UpdateChamCong" />
        <activity android:name=".Interface.ChamCong.MainActivityChamCong" />
        <activity android:name=".Interface.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Interface.MainActivityChucNang" />
        <activity android:name=".Interface.PhongBan.AddPhongBan" />
        <activity android:name=".Interface.PhongBan.UpdatePhongBan" />
        <activity android:name=".Interface.PhongBan.MainActivityPhongBan" />
        <activity android:name=".Interface.NhanVien.UpdateNhanVien" />
        <activity android:name=".Interface.NhanVien.AddNhanVien" />
        <activity android:name=".Interface.NhanVien.MainActivityNhanVien" />
    </application>

</manifest>